<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-form</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <div class="login">
        <div class="login-header">
          <h1>Login</h1>
        </div>
        <form class="login-form" action="login" method="POST">
          <h3>Username:</h3>
          <input type="email" placeholder="Username" name="email"/><br>
          <h3>Password:</h3>
          <input type="password" placeholder="Password" name="password"/>
          <br>
          <input type="submit" value="Login" class="login-button"/>
          <br>
          <a class="sign-up">Sign Up!</a>
          <br>
          <h6 class="no-access">Can't access your account?</h6>
        </form>
      </div>

      <script src="./js/validate.js"></script>
</body>
</html>